html, body {
    height: 100% !important;
    /*overflow: auto !important;
    position: relative !important;*/
}

body {
    background-image: url("#{resource['images/stripe.png']}");
}

.cursor.pointer {
    cursor: pointer !important;
    cursor: hand !important;
}

.hidden {
    display: none !important;
}

.light.gray {
    color: rgba(0, 0, 0, 0.4) !important;
}

.light.blue.bg {
    background-color: #E9FAFF !important;
}

.light.red.bg {
    background-color: #FFF0F0 !important;
}

.light.blue.bg > .header {
    color: #337b92 !important;
}

.light.red.bg > .header {
    color: #a94442 !important;
}

.full.width {
    margin: 0px !important;
    width: 100% !important;
}

.no.margin:not(.top) {
    margin: 0 !important;
}

.no.padding {
    padding: 0 !important;
}

.no.top.margin {
    margin-top: 0 !important;
}

.small.margin:not(.top) {
    margin: 5px !important;
}

.small.top.margin {
    margin-top: 5px !important;
}

.standard.top.margin {
    margin-top: 14px !important;
}

.standard.left.margin {
    margin-left: 14px !important;
}

.indented {
    margin-left: 36px !important;
}

.pull.left {
    float: left !important;
}

.pull.right {
    float: right !important;
}

.clearer {
    clear: both !important;
}

.bold {
    font-weight: bold !important;
}

.ui.mobile.icon.menu {
    margin: 0 6px 5px !important;
}

.small.padding {
    padding: 5px !important;
}

.cursor.auto {
    cursor: auto !important;
}

.vertical.centered {
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.ui.segments {
    margin-top: 0 !important;
}

.ui.attached.header {
    margin-top: 0 !important;
}

.ui.top.attached.header {  
    border-bottom: none !important;  
}

.ui.segment {
    margin-top: 0 !important;
}

.ui.icon.attached.message > img {
    width: 46px !important;
    height: 46px !important;
    float: left !important;
}

.ui.icon.attached.message > .content {
    padding-left: 0px !important;
}

.flash.margin {
    margin-top: 0 !important;
    margin-bottom: 5px !important;
}

.side.menu {
    float: left !important;
    width: 120px !important;
    margin-left: 5px !important;
}

.ui.labeled.icon.menu {
    width: 120px !important;
    margin-bottom: 5px !important;
    margin-top: 0 !important;
}

.main.container {
    margin-top: 60px !important;
}

.ui.fluid.input > input {
    width: 100% !important;
}

.servico.btns {
    width: 237px !important;
}

.centered.statistics {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.centered.segment {
    margin: 0 auto;
}

.user-form-status-col {
    width: 200px !important;
}

.wysiwyg.editor > .ql-editor {
    min-height: 90px !important;
}

#cancel-btn, #cancel-btn > a.item {
    height: 83px !important;
}

#cancel-btn > a.item > i.icon {
    margin-bottom: 15px !important;
}

#chamados-table-filter {
    margin-left: 92px !important;
}

.reply > .content {
    font-size: 120% !important;
}

@media (min-width:992px) {
    .calls.row > .column {
        margin-bottom: 30px !important;
    }
}

#api-key {
    height: 13em;
}

.width.auto {
    width: auto !important;
}

.ui.inverted.red.header {
    color: #db2828 !important;
}

.ui.page.dimmer {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

.text.align.left {
    text-align: left !important;
}

.uppercase {
    text-transform: uppercase;
}

.vk.colored {
    background-color: #41648a !important;
}

.google.plus.colored {
    background-color: #dc4a38 !important;
}

.bottom.floating.label:not(.attached) {
    top: 2em !important;
}

.ui.menu.leftMenu{
    border: none !important;
    box-shadow: none !important; 
}

/* ie6 */* html .ui-growl {
    position: absolute;
}
* html .ui-growl-item {
    padding-bottom: 0;
}
* html .ui-growl-icon-close {
    top: 7px;
    right: 7px;
}
.ui-growl {
    position: fixed;
    top: 50px !important;
    right: 15px !important;
    width: 301px;
}
.ui-growl-item-container {
    position: relative;
    margin: 0 0 10px 0;
    opacity: 0.99 !important;
    filter: alpha(opacity=85);
    background: white ! important;
    color: rgba(0,0,0,.6) !important;
    text-shadow: none !important;
    border-radius: 0px !important;
    border: none !important;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5) !important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}
.ui-growl-item {
    display: block;
    padding: 10px 15px;
}
.ui-growl-item p {
    padding: 0;
    margin: 0;
}
.ui-growl-icon-close {
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
}
.ui-growl-title {
    font-weight: bold;
    padding: 0 0 7px 0;
    display: block;
}
.ui-growl-image {
    width: 32px;
    height: 32px;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    background: url("/chamados/javax.faces.resource/messages/messages.png.jsf?ln=primefaces&v=5.2") no-repeat;
}
.ui-growl-image-info {
    background: none !important;    
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.ui-growl-image-info:before {
    display: inline-block;
    opacity: 1;        
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "\f05a";
    color: #0E6EB8;
    font-size: 32px;    
}

.ui-growl-image-warn {
    background: none !important;    
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.ui-growl-image-warn:before {
    display: inline-block;
    opacity: 1;        
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "\f06a";
    color: #FE9A76;
    font-size: 32px;    
}

.ui-growl-image-error {
    background: none !important;    
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.ui-growl-image-error:before {
    display: inline-block;
    opacity: 1;        
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "\f057";
    color: #B03060;
    font-size: 32px;    
}

.ui-growl-image-fatal {
    background: none !important;    
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
}

.ui-growl-image-fatal:before {
    display: inline-block;
    opacity: 1;        
    font-family: 'Icons';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "\f057";
    color: #B03060;
    font-size: 32px;    
}

.ui-growl-message {
    padding: 0 0 5px 0;
    width: 220px;
    float: right;
}
.ui-growl-message p {
    font-weight: normal;
}

.proj-page-section {
    padding: 15px 15px 20px;
    border-top: solid 1px #d8e2e7;
}

.proj-page-section2 {
    padding: 15px 15px 20px;    
}

.proj-page-attach {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    position: relative;
    padding: 0 30px 0 60px;
    height: 54px;
    margin: 0 0 20px;
    font-size: .9375rem;
    line-height: 18px;
}

.proj-page-attach .font-icon {
    font-size: 2.875rem;
    position: absolute;
    left: 0;
    top: 7px;
    line-height: 1;
    color: #adb7be;
}


.proj-page-attach .name {
    font-weight: 600;
}
.proj-page-attach p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.proj-page-attach p a {
    margin: 0 15px 0 0;
}

.comment-row-item {
    position: relative;
    padding: 12px 15px 12px 61px;
    min-height: 32px;
}
.comment-row-item p {
    margin: 0;
}
.comment-row-item .avatar-preview {
    position: absolute;
    left: 15px;
    top: 12px;
}
.comment-row-item .comment-row-item-header {
    line-height: 18px;
    margin: 0 0 6px;
}
.comment-row-item .comment-row-item-header .tbl-cell {
    vertical-align: top;
}
.comment-row-item .comment-row-item-header .tbl-cell-name {
    font-weight: 600;
}
.comment-row-item .comment-row-item-header .tbl-cell-date {
    text-align: right;
    width: 30px;
    padding-left: 10px;
    white-space: nowrap;
    font-size: .875rem;
    color: #919fa9;
}
.comment-row-item .comment-row-item-content {
    padding: 0 45px 6px 0;
    position: relative;
}
.comment-row-item .comment-row-item-action {
    border: none;
    background: 0 0;
    color: #919fa9;
    position: absolute;
    top: 2px;
}
.comment-row-item.selected, .hover-action .comment-row-item:hover {
    background-color: #ecf2f5;
}
.comment-row-item .comment-row-item-action:hover {
    color: #00a8ff;
}
.comment-row-item .comment-row-item-action.edit {
    right: 25px;
}
.comment-row-item .comment-row-item-action.del {
    right: 0;
}
.comment-row-item .comment-row-item-action.del:hover {
    color: #fa424a;
}
.comment-row-item .comment-row-item-reply {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    font-size: 1rem;
    text-decoration: none;
    color: #919fa9;
    border: none;
}
.comment-row-item .comment-row-item-reply:hover {
    color: #00a8ff;
}
.comment-row-item .comment-row-item-rating {
    display: inline-block;
    vertical-align: top;
    color: #919fa9;
    font-size: .875rem;
    position: relative;
    top: 2px;
}
.comment-row-item .comment-row-item-rating .number {
    font-weight: 700;
    margin: 0 6px;
}
.comment-row-item .comment-row-item-rating .font-icon, .comment-row-item .comment-row-item-rating .glyphicon {
    cursor: pointer;
    position: relative;
    top: 2px;
}
.comment-row-item .comment-row-item-rating .font-icon:hover, .comment-row-item .comment-row-item-rating .glyphicon:hover {
    color: #00a8ff;
}
.comment-row-item .comment-row-item-rating .font-icon.glyphicon-menu-down, .comment-row-item .comment-row-item-rating .glyphicon.glyphicon-menu-down {
    top: 1px;
}
.hover-action .comment-row-item .comment-row-item-action {
    display: none;
}
.hover-action .comment-row-item:hover .comment-row-item-action {
    display: block;
}
.comment-row-item.quote {
    border-left: solid 4px #d8e2e7;
    min-height: 24px;
    margin: 12px -45px 0 0;
    padding: 0 0 0 44px;
}
.comment-row-item.quote .avatar-preview {
    width: 24px;
    height: 24px;
    left: 10px;
    top: 0;
}
.comment-row-item.quote .comment-row-item-header {
    margin-bottom: 2px;
}
.comment-row-item.quote .comment-row-item-content {
    padding-bottom: 0;
}

.tbl {
    display: table;
    width: 100%}
.tbl-row {
    display: table-row;
}
.tbl-cell {
    display: table-cell;
}

.proj-page-section .comment-rows-container, .proj-page-section .leave-comment-block {
    margin: 0 -15px;
}
.proj-page-section .leave-comment-block {
    padding-bottom: 0;
}

.leave-comment-block {
    position: relative;
    padding: 15px 15px 15px 61px;
}
.leave-comment-block .avatar-preview {
    position: absolute;
    left: 15px;
    top: 15px;
}
.leave-comment-block .chat-area-bottom {
    padding-top: 20px;
    border: none;
}
.leave-comment-block .viewable-access {
    color: #919fa9;
    margin: 0 0 12px;
}
.leave-comment-block .viewable-access .choose, .leave-comment-block .viewable-access .lbl {
    display: inline-block;
    vertical-align: top;
}
.leave-comment-block .viewable-access .choose {
    position: relative;
    top: 2px;
}
.leave-comment-block .viewable-access .choose>button {
    border: none;
    background: 0 0;
    color: #919fa9;
    font-size: .875rem;
}
.leave-comment-block .viewable-access .choose>button:after {
    position: relative;
    top: -3px;
    margin-left: 0;
}
.leave-comment-block .viewable-access .choose .dropdown-menu {
    margin-top: 2px;
}
